config vdom
edit testing
config system interface
    edit "port2.72"
        set vdom "testing"
        set ip {{ port2_72_ip }} {{ port2_72_ip_mask }}
        set allowaccess ping
        set alias "Vlan_01"
        set role lan
        set interface "port2"
        set vlanid 72
    next
config system interface
    edit "port2.70"
        set vdom "testing"
        set ip {{ port2_70_ip }} {{ port2_70_ip_mask }}
        set allowaccess ping
        set alias "Vlan_02"
        set role lan
        set interface "port2"
        set vlanid 70
    next
end
end